@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for bidding history */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

html,
body {
  background-color: #1a472a;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
